<div class="container" ng-init="main.getTeams()">
  <div class="row" ng-init="main.getAttendance()">
    <div class="col-xs-6">
      <h1>{{main.title}}</h1>
      <h3 ui-sref="chart">Chart</h3>
      <h3 ui-sref="attendance">Attendance</h3>
      <table>
        <thead>
          <tr>
            <td>
              <span ng-click="main.getNames()"> Player </span>
            </td>
            <td>
              G
            </td>
            <td>
              AB
            </td>
            <td>
              R
            </td>
            <td>
              H
            </td>
            <td>
              2B
            </td>
            <td>
              3B
            </td>
            <td>
              HR
            </td>
            <td>
              RBI
            </td>
            <td>
              BB
            </td>
            <td>
              IBB
            </td>
            <td>
              SO
            </td>
            <td>
              AVG
            </td>
            <td>
              OBP
            </td>
            <td>
              SLG
            </td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="player in main.players">
            <td>
              <span ng-click="main.names(player.name)">{{player.name}}</span>
            </td>
            <td>
              {{player.games}}
            </td>
            <td>
              {{player.ab}}
            </td>
            <td>
              {{player.runs}}
            </td>
            <td>
              {{player.hits}}
            </td>
            <td>
              {{player.doubles}}
            </td>
            <td>
              {{player.triples}}
            </td>
            <td>
              {{player.homers}}
            </td>
            <td>
              {{player.rbis}}
            </td>
            <td>
              {{player.bb}}
            </td>
            <td>
              {{player.ibb}}
            </td>
            <td>
              {{player.so}}
            </td>
            <td>
              .{{player.avg}}
            </td>
            <td>
              .{{player.obp}}
            </td>
            <td>
              .{{player.slg}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
